<div class="auth-wrapper">

  <div class="auth-card">

    <div class="eco-logo-big">
      <div class="leaf one"></div>
      <div class="leaf two"></div>
    </div>

    <h2 class="auth-title">Reset Password</h2>

    @if (error) {
      <div class="alert alert-danger">{{ error }}</div>
    }

    <form #f="ngForm" (ngSubmit)="onReset(f)">

      <input type="password"
             name="newPassword"
             ngModel
             required
             minlength="6"
             placeholder="New password"
             class="auth-input">

      <input type="password"
             name="confirmPassword"
             ngModel
             required
             minlength="6"
             placeholder="Confirm password"
             class="auth-input">

      @if (f.value.newPassword && f.value.confirmPassword && f.value.newPassword !== f.value.confirmPassword) {
        <div class="text-danger small mb-2">
          Passwords do not match ❌
        </div>
      }

      <button class="auth-btn">Reset Password</button>

    </form>

  </div>
</div>
