.auth-wrapper {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0bb56b 0%, #15a65d 40%, #06723b 100%);
  padding: 40px 20px;
}


.auth-card {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0px 10px 18px rgba(0,0,0,0.15);
  text-align: center;
  animation: fadeUp .5s ease-in-out;
}

.logo-container {
  margin-bottom: 15px;
}

.logo-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.auth-title {
  margin-bottom: 20px;
  color: #0b6a42;
  font-weight: 700;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.auth-input:focus {
  border-color: #0bb56b;
  box-shadow: 0 0 5px rgba(11, 181, 107, .3);
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: #0bb56b;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.auth-btn:hover {
  background: #099d59;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.subtitle {
  margin-top: -5px;
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;
}

.eco-logo-big {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-bottom: 15px;
}

.leaf {
  width: 34px;
  height: 34px;
  border-radius: 50% 0 50% 50%;
}

.leaf.one {
  background: #0bb56b;
  transform: rotate(-35deg);
}

.leaf.two {
  background: #089a5a;
  transform: rotate(-20deg);
}
