<div class="auth-wrapper">
  <div class="auth-card animate">

    <div class="eco-logo-big">
      <div class="leaf one"></div>
      <div class="leaf two"></div>
    </div>
<h2 class="auth-title">
  {{ 'CONFIRM_EMAIL.TITLE' | translate }}
</h2>

    @if (status === 'success') {
<div class="alert success">
  {{ 'CONFIRM_EMAIL.SUCCESS_TEXT' | translate }}
</div>

<button class="auth-btn full mt-3" (click)="goToLogin()">
  {{ 'CONFIRM_EMAIL.GO_LOGIN' | translate }}
</button>

    }

    @if (status === 'error') {
<div class="alert error">
  {{ 'CONFIRM_EMAIL.ERROR_TEXT' | translate }}
</div>

<button class="auth-btn full mt-3" (click)="goToLogin()">
  {{ 'CONFIRM_EMAIL.BACK_LOGIN' | translate }}
</button>

    }

  </div>
</div>
