<div class="auth-wrapper">
  <div class="auth-card animate">

    <div class="eco-logo-big">
      <div class="leaf one"></div>
      <div class="leaf two"></div>
    </div>
    <h2 class="auth-title">Email Confirmation</h2>

    @if (status === 'success') {
      <div class="alert success">Your email has been confirmed ✔</div>
      <button class="auth-btn full mt-3" (click)="goToLogin()">Go to Login</button>
    }

    @if (status === 'error') {
      <div class="alert error">Invalid or expired confirmation link ❌</div>
      <button class="auth-btn full mt-3" (click)="goToLogin()">Back to Login</button>
    }

  </div>
</div>
